.root{
    -fx-background-color: linear-gradient(to left, #0e4a7c, #0a419a);
}

.tela{
     -fx-background-color: #efefef;
     -fx-background-radius: 15px;
}

.card-Requerentes{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(14, 74, 124, 0.2);
}

.card-livrosDisponiveis{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color:rgba(255, 0, 0, 0.4);
}

.card-porvir{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(14, 74, 124, 0.2);
}

.chart-conteiner{
    -fx-background-color: #efefef;
    -fx-background-radius: 10px;
}


.close-btn{
    -fx-background-color: transparent;
    -fx-border-width: .4px;
    -fx-border-color: #efefef;
    -fx-background-radius: 5px;
}

.close-btn:hover{
    -fx-background-color: #d01e1e;
}

.minus-btn{
    -fx-background-color: transparent;
    -fx-border-width: .4px;
    -fx-border-color: #efefef;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.minus-btn:hover{
    -fx-background-color: #496dee;
}

.nav{
    -fx-background-color: #6b0d36;
}

.nav-btns{
    -fx-background-color: transparent;
    -fx-border-width: .4px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #efefef;
}

.nav-btns:hover{
    -fx-border-color: #efefef;
}

.sair-btn{
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #d01e1e;
}

.nav-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.sombra{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0)
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.image-conteiner{

}

.comboStyle{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: .4px;
    -fx-border-color: #000;
}

.textfield{
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 8px;
    -fx-border-width: .7px;
    -fx-border-radius:8px;
}

.textfield:hover{
    -fx-border-color: #000;
}

.datePiker{
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 8px;
    -fx-border-width: .7px;
    -fx-border-radius:8px;
    -fx-border-color: #000;
}


